!!! 5
%html.no-js
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, user-scalable=no")
    %meta(name="author" content="Sascha Michael Trinkaus, @saschamt, Mad Mimi")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    %title MMGD.
    %meta(property="og:title" content="MMGD.")
    %meta(property="og:description" content="A message from GoDaddy")
    %script(type="text/javascript" src="//use.typekit.net/fho6fcu.js")
    %script(type="text/javascript") try{Typekit.load();}catch(e){}
    %link(rel="stylesheet" href="stylesheets/mmgd.prefixed.css" type="text/css" media="screen")
    %link(rel="stylesheet" href="stylesheets/skrollr.css" type="text/css" data-skrollr-stylesheet)
    %script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    %script(src="javascript/modernizr.custom.17715.min.js")
    <!--[if lt IE 9]><script src="javascript/vendor/html5shiv.min.js"></script><![endif]-->
    %link(rel="shortcut icon" href="images/favicons/favicon.ico")
    %link(rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png")
    %link(rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png")
    %link(rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png")
    %link(rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png")
    %link(rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png")
    %link(rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png")
    %link(rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png")
    %link(rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png")
    %meta(name="apple-mobile-web-app-title" content="mmgd")
    %link(rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196")
    %link(rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160")
    %link(rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96")
    %link(rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16")
    %link(rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32")
    %meta(name="msapplication-TileColor" content="#f7f7f7")
    %meta(name="msapplication-TileImage" content="images/favicons/mstile-144x144.png")
    %meta(name="msapplication-config" content="images/favicons/browserconfig.xml")
    %meta(name="application-name" content="mmgd")
    %script(type="text/javascript" src="//platform.twitter.com/widgets.js")
  %body(data-0="color:hsl(0,0%,30%);stroke:hsl(0,0%,40%)" data-4500="color:hsl(170,100%,12%);stroke:hsl(170,100%,22%)" data-10000="color:hsl(245,100%,2%);stroke:hsl(245,100%,12%)" data-15000="color:hsl(320,100%,12%);stroke:hsl(320,100%,22%)" data-18000="color:hsl(360,100%,2%);stroke:hsl(360,100%,12%)" data-21350="color:hsl(360,0%,30%);stroke:hsl(360,100%,12%)")
    .wrapper
      %p.start{:"data-anchor-target" => "#step-1"}
        %span.large MMGD.
      %p.standard{:"data-anchor-target" => "#step-2"}
        %span The GoDaddy Guy zoomed around with a frown
        %span.godaddy.speech.gd "I’ve got the excitement, I’m a man about town"
      %p.standard{:"data-anchor-target" => "#step-3"}
        %span.speech.gd
          %span.godaddy "I have tons of fun, and I help people too
          %span.godaddy But there's something missing, and I’m a little bit blue."
      %p.standard{:"data-anchor-target" => "#step-4"}
        %span While his mind was adrift like a leaf on a river,
        %span a distant sound set his ears aquiver.
      %p.standard{:"data-anchor-target" => "#step-5"}
        %span.speech.gd
          %span.godaddy "Hark! What's that beautiful singing?
          %span.godaddy A melody charming and simple and ringing."
      %p.standard{:"data-anchor-target" => "#step-6"}
        %span.speech.gd
          %span.godaddy "I must meet that singer, my heart is a-thumping.
          %span.godaddy I have an idea — she's what I've been missing!"
      %p.standard{:"data-anchor-target" => "#step-7"}
        %span And under a tree, a delightful sight —
        %span Mad Mimi sat singing, clear and bright.
      %p.standard{:"data-anchor-target" => "#step-8"}
        %span.speech.gd
          %span.godaddy "Hey there, ahem, cough cough, who are you?
          %span.godaddy You seem so special. What is it you do?"
      %p.standard{:"data-anchor-target" => "#step-9"}
        %span.speech.mm
          %span.mimi "I delight readers with beautiful emails.
          %span.mimi I'm sugar and spice and puppy dog tails"
      %p.standard{:"data-anchor-target" => "#step-10"}
        %span.speech.mm
          %span.mimi "I'm easy to read newsletters and more.
          %span.mimi I'm fun and feisty and I don't talk to bores."
      %p.standard{:"data-anchor-target" => "#step-11"}
        %span.speech.gd
          %span.godaddy "I ain't boring. I'm awesome, you know!
          %span.godaddy And I help small businesses get online and grow"
      %p.finale.standard{:"data-anchor-target" => "#step-12"}
        %span.speech.gd
          %span.godaddy "Let's hang out, Mimi.
          %span.godaddy We'll help people together!
        %span.speech.gd
          %span.godaddy Get online and get heard
          %span.godaddy forever and ever!”
      %p.end{:"data-anchor-target" => "#step-13"}
        %span GoDaddy brings Mad Mimi to its customers
        %span — <a href="http://blog.madmimi.com/godaddy-mad-mimi/" title="GoDaddy acquires Mad Mimi - Mad Mimi Blog">Read more</a>
      .controls
        %a#play{:href => "#" }
          = Haml::Engine.new(File.read('/Server/mmgd/public/images/play.min.svg')).render
        %a#pause{:href => "#" }
          = Haml::Engine.new(File.read('/Server/mmgd/public/images/pause.min.svg')).render
        %a#backTop{:href => "#" }
          = Haml::Engine.new(File.read('/Server/mmgd/public/images/back_top.min.svg')).render
      %span.tweet <a href="https://twitter.com/intent/tweet?text=MMGD.%20Check%20it%20out!%20@GoDaddy%20@MadMimi&url=http%3A%2F%2Fmmgd.madmimi.com">Tweet this</a>
      %span.copy &copy; 2014 GoDaddy.com, LLC
      #bg.bg(data-0="background-color:hsl(150,0%,99%)" data-4500="background-color:hsl(170,100%,63%)" data-10000="background-color:hsl(245,70%,69%)" data-15000="background-color:hsl(320,100%,69%)" data-18000="background-color:hsl(360,100%,70%)" data-21350="background-color:hsl(360,0%,99%)")
      .scene
        %img#godaddy_guy{:src=> "images/godaddy.min.svg", :alt => "GoDaddy"}
        %img#gd_speech{:src=> "images/gd_speech.min.svg", :alt => "GoDaddy guy speaks"}
        %img#mimi{:src=> "images/mimi@2x.png", :alt => "Mad Mimi", :width => "143", :height => "214"}
        %img#mimi_speech{:src=> "images/mimi_speech.min.svg", :alt => "Mimi speaks"}
      .scene_wrapper
        .bg_scene
          #gd_city
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_bg.min.svg')).render
          #mm_tree
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/mm_bg.min.svg')).render
          #gd_car
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_car.min.svg')).render
          #gd_glasses
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_glasses.min.svg')).render
          #gd_star
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_star.min.svg')).render
          #gd_plate
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_plate.min.svg')).render
          #gd_fun
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_fun.min.svg')).render
          #gd_blue
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_blue.min.svg')).render
          #gd_blue_copy
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/gd_blue_copy.min.svg')).render
          #leaf
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/leaf.min.svg')).render
          #river
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/river.min.svg')).render
          #fish_big
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/fish_big.min.svg')).render
          #fish_small
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/fish_small.min.svg')).render
          #distant_sound
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/distant_sound.min.svg')).render
          #heart
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/heart.min.svg')).render
          #heart_small
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/heart_small.min.svg')).render
          #idea
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/idea.min.svg')).render
          #lalala
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/lalala.min.svg')).render
          #email
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/email.min.svg')).render
          #easy_to_read
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/easy_to_read.min.svg')).render
          #awesome
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/awesome.min.svg')).render
          #small_biz
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/small_biz.min.svg')).render
          #big_biz
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/big_biz.min.svg')).render
          #online
            = Haml::Engine.new(File.read('/Server/mmgd/public/images/online.min.svg')).render
      .chevron_down{:"data-anchor-target" => "#step-12"}
        %img{:src=> "images/chevron_down.min.svg"}
    #skrollr-body
      %section#step-1
      %section#step-2
      %section#step-3
      %section#step-4
      %section#step-5
      %section#step-6
      %section#step-7
      %section#step-8
      %section#step-9
      %section#step-10
      %section#step-11
      %section#step-12
      %section#step-13
    %script(src="javascript/skrollr.stylesheets.min.js")
    %script(src="javascript/skrollr.min.js")
    %script(src="javascript/mmgd.min.js")
